# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Specified for this repo
source/cmsat-2.9.9/
source/cudd-2.5.0/
source/lingeling/
source/minisat/
.vscode/

# source/src
source/src/lcheck
source/src/lcmp
source/src/lex.yy.cc
source/src/lle
source/src/simplify
source/src/sld
source/src/sle
source/src/bench.*

